/* CSS Document */




body {
	font-family: 'Open Sans', sans-serif;
    padding-bottom: 70px;
	/*background-image: url("../APTEL_files/emb.png");
    background-repeat: no-repeat;*/

}
@media(max-width: 768px){
    body{
        font-size: 14px !important;
    }
}
.font-2 {
	font-family: 'Roboto Slab', serif;
}


.no-padding {
	padding: 0px;
}
@media (min-width: 768px) {
.no-padding-left {
	padding-left: 0px;
}
.no-padding-right {
	padding-right: 0px;
}
}

.bg_home {
    background: url(home-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

/* To fix main menu container */
/* .f-nav{  
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
} */


.padding-top-18 {
	padding-top: 18px;
}
.padding-top-10 {
	padding-top: 10px;
}
.padding-top-30 {
	padding-top: 30px;
}
.padding-top-25 {
    padding-top: 25px;
}
.padding-bottom-18 {
	padding-bottom: 18px;
}
.padding-bottom-30 {
	padding-bottom: 30px;
}
.padding-bottom-25{
    padding-bottom: 25px;
}
.margin-top-18 {
	margin-top: 18px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-top-50 {
	margin-top: 50px;
}
.margin-bottom-18 {
	margin-bottom: 18px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.font-it {
	font-style: italic;
}
.text-light {
	color: #797979;
}
.margin-left-archive
{
	margin-left:600px;
}


/*==================================================Title===================================*/
.widget-title {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 5px;
	color: #098d94;
    border-bottom: 3px double #dedede;
    margin: 0 0 15px;
    text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}
.widget-title> a {
	font-size: 10px;
	color: #000000;
	font-style: italic;
	margin-left: 18px;
}
.widget-title> a:hover, .widget-title> a:focus {
	font-size: 10px;
	color: #03a9f4;
	text-decoration: none;
}


/*===============================================link=========================================*/
.link-small {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
/* .top {
    border-bottom: 4px solid #266aa6;
} */
.margin-left-18 {
	margin-left: 18px;
}

/*---------------------navbar-------------------------*/  
#Divmenu{ }
@media (min-width: 768px) {
.navbar-inverse {
    border-color: #2D5996;
	background-color: #2D5996;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.24);
}
}
.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
.navbar {
	margin-bottom: -1px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	color: #fff;
    background: #444;
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #03a9f4;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
@media (max-width: 768px) {
    .navbar-inverse-bg{
    border-color: #2D5996;
    background-color: #2D5996;
    color: #FFFFFF;
    }
    .logo_on_mobile>img{
        position: relative;
        bottom: 20px;
		width:110px;
		height:auto;
    }
}
.carousel-control {
  width: 30px;
  height: 30px;
  top: -42px;

}
.left.carousel-control {
  right: 39px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.carousel-control.left {
	background: none;
}
.carousel-control.right {
	background: none;
}
@media (min-width: 768px) {
.navbar {
    border-radius: 0px;
}
}
 /* To fix main menu container */
/* .f-nav{ 
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
} */

.nev-term {
	background: #CCCCCC;
	padding-top: 12px;
	padding-bottom: 9px;
}
.list-inline-nev-term> li {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
}
.list-inline-nev-term> li> a {
	color: #000000;
	font-variant: small-caps;
	font-family: 'Roboto Slab', serif;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.list-inline-nev-term> li> a:hover, .list-inline-nev-term> li> a:focus {
	color: #03a9f4;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.list-inline-nev-term> li+li {
	border-left: 1px solid;
}




/*========================================Slider=============================================*/
@media screen and (min-width: 768px){
.carousel-indicators {
    top: 10px;
	left: 40px;
    }
}
.inner-height {
    min-height: 370px;
    width: auto;
}
@media screen and (min-width: 768px){
.carousel-caption {
    right: 0%;
    background: rgba(0, 0, 0, 0.74);
    left: 8%;
	text-align: left;
	padding: 8px;
    }
}
.div-padd{
    padding-left: 0px;
}
@media(max-width: 768px){
    .div-padd{
        padding-right: 0px;
        padding-left: 0px;
    }
}
.caption-setting{
    bottom: 65px !important;
}
.link-slider {
	color: #FFFFFF;
	font-family: 'Roboto Slab', serif;
}
.link-slider:hover, .link-slider:focus {
    color: #03a9f4;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.slider-link-date {
	font-size: 10px;
	font-style: italic;
}


/*========================Hide and Show======================================*/
@media screen and (max-width: 768px){
.hide-on-sm {
    /*display: none;*/
    }
    .inner-height{
        height: 190px;
    }
}







.main-home-content-list {
    padding-left: 0px;
	list-style: none;
}
.main-home-content-list> li:first-child {
    padding-top: 0px;
}
.main-home-content-list> li:last-child {
    border-bottom: none;
}
.main-home-content-list> li {
    border-bottom: 1px dotted #999999;
    padding-top: 18px;
    padding-bottom: 18px;
}
.main-home-content-list-div-link> a {
    color: #000000;
}
.link-small {
    font-size: 12px;
    color: #000000;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.link-small:hover, .link-small:focus {
    color: #03a9f4;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.link-small-date {
	color: #03a9f4;
	font-size: 12px;
	font-style: italic;
}
.btn-customize {
    background-color: #2D5996;
    border-color: #2D5996;
    color: #FFFFFF;
    outline: none;
	border-radius: 0px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.btn-customize:hover, .btn-customize:focus {
    color: #333;
	border-radius: 0px;
    background-color: #fff;
    border-color: #ccc;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.link-medium {
    font-size: 14px;
    color: #000000;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.link-medium:hover, .link-medium:focus {
    color: #03a9f4;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


.recent-home-about {
	font-size: 14px;
	margin-top: 10px;
}
.recent-home-link {
	font-size: 16px;
	color: #2D5996;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.recent-home-link:hover, .recent-home-link:focus {
    color: #000000;
	border-radius: 0px;
    background-color: #fff;
	text-decoration: none;
    border-color: #ccc;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


.img-center {
	margin: auto;
	display: block;
}


.latest-home {
    box-shadow: inset 0 0 20px rgba(60,60,60,0.1);
    padding-top: 30px;
    padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#left_sidebar{ }
.sidebar {
    border: 1px solid #eaeaea;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
	box-shadow: 0px 1.732px 8px 0px rgba( 0, 0, 0, .10 ), 0px 1.732px 3px 0px rgba( 0, 0, 0, .05 );
	
}
.home-box-height{
	height:435px !important;
}
h3.modtitle {
    padding: 10px 0;
	position: relative;
	padding-left: 70px;
	padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    color: #444;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    margin-top: -2px;
}
h3.modtitle:before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
}
h3.modtitle .badge {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    bottom: 0;
    display: block;
    background: #d22b2b;
    border-radius: 0;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
}
h3.modtitle .clr-3{
    background: #59a9f5;
}
h3.modtitle .clr-3:before{
    border-color: transparent transparent transparent #59a9f5 !important;
}
h3.new-title-3:after{
    background: #59a9f5 !important;
}

h3.modtitle .clr-2{
    background: #3dc7d3;
}
h3.modtitle .clr-2:before{
    border-color: transparent transparent transparent #3dc7d3 !important;
}
h3.new-title-2:after{
    background: #3dc7d3 !important;
}


h3.modtitle .badge:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent #d22b2b;
    border-width: 40px 0 0 20px;
    bottom: 0;
    right: -20px;
}
h3.modtitle:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 3px;
    width: 110px;
    background: #d22b2b;
    width: 100%;
}

#footer_bar p{
    margin: 0 0 0;
}
.footer {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 14px;
    background: rgba(43, 85, 142, 0.66);
    
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
@media(max-width: 768px){
    .nclb-logo{
        margin: auto;
    }
}

.related-video {
	border: 1px solid #eaeaea;
	margin-bottom: 18px;
	height: 220px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.related-video:hover {
    box-shadow: 0px 1.732px 8px 0px rgba( 0, 0, 0, .10 ), 0px 1.732px 3px 0px rgba( 0, 0, 0, .05 );
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.related-video-link {
    padding: 10px;
}
.related-video> img {
	max-height: 140px;
}



.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
	border-radius: 50%;
	margin-right: 9px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    margin-left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}



.video-detail {
	border: 1px solid #eaeaea;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/*====================top bar ===================*/

.top-bar{
    background: #000;/*#2D5996*/;
    color: #fff;
}
.a-color{
    color: #FFFFFF;
}
.head-4{
    font-family: Roboto Slab;
    margin: 0px;
    font-weight: bold;
}
.head-2{
    font-family: Roboto Slab;
    margin: 0px;
    margin-top: 5px;
}
.p-1{
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}
.flag-bg{
    /* background: url(../images/flag1.png) repeat-y; */
    background: linear-gradient(120deg, #c5daf3 28%, #f2f1e6 60%);
}
.just-symbol{
        height: 100px;
    float: right;
    width: auto;
}
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #131212 !important;
    background-color: #ffffff !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #000;
    background-color: #ffffff;
}
@media(max-width: 768px){
    .no-display-on-mobile{
        display: none;
    }
}
/*======================top bar end======================*/

/*====================== content area ======================*/
.shadow{
    box-shadow: 0px 0px 2px 2px whitesmoke;
    padding: 0px;
    background: url(../images/bg-light.png);
        background-color: #0c75c8;
}
.widget-title-1{
    line-height: 8px;
    padding-bottom: 18px;
    color: #ffffff;
    background: #e46820;
    padding-top: 20px;
    padding-left: 10px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;   
}
.widget-title-2{
    line-height: 15px;
    color: #fff;
    padding-left: 10px;
    font-size: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;   
}
@media(max-width: 768px){
    .widget-title-2{
        font-size: 15px;
    }
}
.chairman-image>img{
    position: relative;
    margin: auto;
    left: 25%;
}
.text-about{
    padding-left: 15px;
    padding-right: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
}
@media(max-width: 768px){
    .text-about{
        padding-bottom: 12px;   
    }
}
@media(max-width: 768px){
    .media-padd{
        padding-top: 15px;
    }
}
/*====================== Content end======================*/

.dropdown:hover> .dropdown-menu {
    display: block;
}
.about-nclt{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-top: 10px;
}
.about-nclt::after{
    border-top: 2px solid #FFFFFF;
    content: "";
    display: block;
    margin-top: 10px;
    margin: auto;
    width: 120px;
}
.about-container{
    margin-top: 30px;
    background: #197cca;
}
.about{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 16px;
}
@media(max-width:768px){
	.about{
		font-size: 12px;
	}
}
.about-bg{
    padding-right: 15px;
    padding-left: 15px;
    background-color: #2D5996;
    color: #fff;
    background: url(../images/bg-light.png);
}
.box-about{
        box-shadow: 0px 0px 2px 2px whitesmoke;
    padding: 20px;
}
.bottom-links{
    border: 1px solid whitesmoke;
    padding: 10px;
}
.bottom-head{
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}
.read-more{
    position: relative;
    top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}
@media(max-width: 768px){
    .read-more{
        top:0;
    }
}
/*=============================about -us page=========================== */

.about-box{
    box-shadow: 0px 0px 2px 2px whitesmoke;
    border-top: 2px solid #ec0b43;
    border-bottom: 1px solid #2D5996;
}
.nclt-border:after{
    border-top: 2px solid #000;
    content: "";
    display: block;
    margin-top: 10px;
    margin: auto;
    width: 75%;
}
/*=============================Benches page=========================== */
.font-bold{
    font-weight: 600;
}
.font-center{
    text-align: center;
}
@media(max-width: 768px){
    .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
        padding-right: 0px !important;
    }
}
.padding-top-5{
        padding-top: 5px;
}
.table-top{
        background: #2D5996;
    color: #fff;
}
.about-nclt-white{
        text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background: #ec0b43;
    margin: 0px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media(max-width:768px){
	.about-nclt-white{
		font-size:21px;
	}
}
.about-nclt-white::after{
        border-top: 3px solid #FFFFFF;
    content: "";
    display: block;
    margin-top: 10px;
    margin: auto;
    width: 95%;
}
.row-width::after{
    border-top: 3px solid #FFFFFF;
    content: "";
    display: block;
    margin-top: 10px;
    margin: auto;
    width: 25% !important;
}
.cause-list{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin: 0px;
}
.btn-custum{
    border-radius: 0px;
    padding: 10px;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 15px;
    margin-top: 20px;
}
.icon-setting{
        position: relative;
    bottom: 17px;
}
.no-radius{
    border-radius: 0px;
    background: #FFFFFF;
}
.a-cause{
    font-size: 12px;
    color: #2D5996;
    font-weight: bold;
}
.a-cause:hover{
    text-decoration: none;
    color: #000;
}
.new-logo{
        margin: 5px;
    background: #eb0b43;
    color: #fff;
    padding-right: 3px;
    padding-left: 3px;
    position: relative;
    bottom: 5px;
    right: 2px;
    border-radius: 4px;
    font-weight: 700;
}
/*================colors========================*/
.red-clr{
    color:#eb0b43;
}
.blue-clr{
    color: #2D5996;
}
.sky-blue{
    color: #1ab1f6;
}
.orange-clr{
    color: #ff6600
}
.green-clr{
    color: #007c08;
}
.dark-blue{
     color: #2582cc;
}
.like-clr{
        color: #3dc7d3;
}
.margin-top-5{
    margin-top: 5px;
}
.height-setting{
    height: 382px;
    overflow: auto;
}
.common-setting{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}
.common-setting-2{
    font-size: 12px;
    font-weight: 600;
}
a.no-style:hover{
    text-decoration: none !important;
    color: #000;
}
.lable-class{
    font-weight:bold;
    font-family:'Roboto Slab', serif;
}
.btn-setting{
        margin-top: 23px;
    border-radius: 0px;
}
.border-margin{
    border: 1px solid;
    margin: 10px;
    font-family: 'Roboto Slab', serif;
}
.a-p{
    color: #000;
}
.a-p:hover{
    color: blue;
    text-decoration: none
}
.dropdown-menu>li>a:hover{
	color: #ffffff !important;
    text-decoration: none;
    background-color: #2D5996 !important;
}

/* For Popup */
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}
 
#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
}
.window-cont {
	position: relative;
	font-size: 14px;
	padding: 10px;
	margin: 2px;
	background-color: #fff;
}
.window-cont h2{
	border-bottom: 1px solid #2D5996;
    text-transform: none;
    font-size: 16px;
    color: #2D5996;
    font-size: x-large;
}
.window-cont .close{
	background-color: red;
	color: #fff;
	text-decoration: none;
	padding: 2px 6px;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 6px;
	right: 6px;
}
#boxes #dialog {
  width: 750px;
  height: auto;
  padding: 1px;
  border: 1px solid #ccc;
}

.bg-txt {
 	clear: both;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
 }

.error {
color:red;
}
@media(min-width: 768px){
    .marg-media{
        margin-top: 75px !important;
    }
}
hr{
	margin-bottom:5px !important;
	margin-top:5px !important;
}



/*==================== custum css========================*/
@media(max-width: 768px){
    .mobile-hide{
        display: none;
    }
}
@media(min-width: 768px){
    .desk-hide{
        display: none;
    }
}